:root {
    /* colors */
    --background:  #232946;
    --headline:  #fffffe;
    --p: #b8c1ec;
    --button_color: #eebbc3;
    --button-text: #232946;

    --main-card: #b8c1ec;
    --stroke: #121629;
    --secondary: #eebbc3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
}

h1,h2 {
    color: #fffffe;
    font-weight: 600;
}

h2 {
    margin: 2rem auto;
}
p {
    color: var(--p);
}
/* --- header --*/
header{
    border-bottom: 3px solid var(--stroke);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
   /* line-height: 80px;*/
    height: 80px;
    margin-bottom: 2rem;
}

.header__container {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    height: 2rem;
    line-height: 2rem;
}
/*.header__nav {
    background: #eebbc3;
    
}*/

.header__nav .nav__items {
    display: flex;
    justify-content: space-between;
   

}

.header__nav .nav__items li {
    list-style: none;
    margin: 0 1rem;
    
}

.header__nav ul li a {
    color: var(--headline);
    text-decoration: none;
    font-size: 1.5rem;
}

@media (max-width: 890px) {
    .header__container h1 {
        font-weight: 500;
    }
    
}
/*-fin header ---*/
main {
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.btn {
    color: var(--button_text);
    background: var(--button_color);
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;  
    border-radius: 5px;
}

.btn:hover {
    color: var(--button_color);
    background: var(--button-text);
}