<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/users.css">

</head>
<body>
    <header>
        <div class="header__container">
            <h1>Lista de usuarios</h1> 
            <nav class="header__nav">
                <ul class="nav__items">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/registro">Registrar</a></li>
                </ul>
            </nav> 
        </div>
        
    </header>
    <main> 
        <div id="users"></div>
    </main>

    <script>
        function hola () {
            return console.log("hola")
        }
        //Armando peticion
        // Utilizando fetch
        // fetch: Ir y traer algo
        //fetch("http://localhost:4000/api/users") //Esto es valido
        fetch("/api/users")
        .then(function(respuesta){
            //console.log(respuesta)
            return respuesta.json()
        })
        .then(function(data){
            var users = document.getElementById("users")

            for(var user of data){
                users.innerHTML = users.innerHTML + `<div class="user">
                        <div class="user__main">
                            <div class="user__pic">
                                <img src="${user.profile_pic}">
                            </div>
                            <div class="user__info">
                                <p class="user__name">${user.name}</p>
                                <p class="user__gender">${user.gender}</p>
                                <p class="user__age">${user.age}</p>
                                <p class="user__email">${user.email}</p>
                                <p class="user__profession">${user.profession}</p>
                                <p class="user__salary">${user.salary}</p>
                            </div>
                        </div>
                        
                        <div class="user__btn">
                            <button class="btn">Editar</button>
                            <button class="btn" onclick="hola()">Eliminar</button>
                        </div>
                        
                    </div>`
            }
        })

        // Hacer lo mismo, pero para mascotas
    </script>
    
</body>
</html>